<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacts - $scope</title>
  <link rel="stylesheet" href="app.css">
</head>

<body ng-app="ContactsApp">

  <div id="ctrl-exmpl" ng-controller="ContactsController">
    <label>Name:
      <input type="text" ng-model="name" />
    </label>
    <button ng-click="greet()">greet</button>
    <br/> Contact:
    <ul>
      <li ng-repeat="contact in contacts">
        <select ng-model="contact.type" id="select_{{$index}}">
          <option>phone</option>
          <option>email</option>
        </select>
        <input type="text" ng-model="contact.value" aria-labelledby="select_{{$index}}" />
        <button ng-click="clearContact(contact)">clear</button>
        <button ng-click="removeContact(contact)">X</button>
      </li>
      <li>[
        <button ng-click="addContact()">add</button> ]</li>
    </ul>
  </div>


</body>
<script src="bundle.js"></script>



</html>
<!-- https://docs.angularjs.org/api/ng/directive/ngController -->
